:root {
    --color-white: #f5f5f5;
    --color-black: #333;
    --color-bg: #222;
    --color-cyan: #33FFEE;
}

html {
    font-size: 150%;
    /* font-size: 24px; */
    line-height: 1.8em;
}

body {
    font-family: 'YuGothic';
    background: var(--color-bg);
    color: var(--color-white);
}

/* code blocks */
code[class*='language-'],
pre[class*='language-'] {
    font-size: 2rem;
}

a, a:visited {
    /* set the default link color */
    color: var(--color-cyan);
}

/* fix sidebar style */
.sidebar-contents li {
  margin-left: 32px;
}

/* 見出し */
/* section-titleは使わない */
/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-red {
    background: #DD4422;
}
.section-blue {
    /* TODO: いい色にする */
    background: #000000;
}

.title {}

/* Disable animation */
section * {
    animation: none !important;
}

/* Do NOT hide sections */
section.slide {
    display: flex !important;
}

h1 {
  font-size: 3em;
}

h1,
h2,
h3 {
    font-weight: bold;
    margin: 20px auto 80px;
}

li {
    line-height: 2.2em;
}

.split {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.split-left {
    width: 50%;
}
.split-right {
    width: 50%;
    box-sizing: border-box;
    padding: 0 80px;
}


.bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    height: 80%;
    z-index: -1;
    opacity: 50%;
}
